!!!
%html{"manifest"=>to("/manifest.appcache")}
  %head
    %title Test applications
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}/
    %script{'type'=>"text/javascript", 'charset'=>"utf-8", 'src'=>to("/js/jquery.js")}
    %script{'type'=>"text/javascript", 'charset'=>"utf-8", 'src'=>to("/js/app.js")}
  %body
    %h1 Test app
    %p
      %a{"href" => url("/inc"), "data-remote" => true} Refresh
    #debug